<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" href="../Styles/HomeStyle.css">
</head>
<body>
    <div class="container">
        <div class="text">Product Management</div>

        <div class="form-row submit-btn">
            <div class="input-data">
                <a href="Products.html">View all Products</a>
            </div>
            <div class="input-data">
                <a href="GetProductById.html">View a Product</a>
            </div>
            <div class="input-data">
                <a href="PostProduct.html">Create Product</a>
            </div>

        </div>

        <hr />

        <div class="form-row">
            <div class="input-data">
                <a href="UpdateProduct.html">Update Product</a>
            </div>
            <div class="input-data">
                <a href="DeleteProduct.html">Delete Products</a>
            </div>
        </div>
    </div>
</body>
</html>
