<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../Styles/HomeStyle.css">
</head>
<body>
    <div class="container">
        <div class="text">Welcome to the Home Page</div>
        <hr />

        <!-- Navigation Buttons for Login and Register -->
        <div class="form-row">
            <div class="input-data">
                <a href="../Pages/UserAuthenticate.html" class="btn">Login</a>
            </div>
            <div class="input-data">
                <a href="../Pages/RegisterUser.html" class="btn">Register</a>
            </div>
        </div>
    </div>
</body>
</html>
